.RolePageModal {
    .ant-transfer-operation {
        margin: 0 20px;
    }

    .ant-transfer-list-header-selected {
        display: none;
    }

    .ant-transfer-list-header-title {
        text-align: center;
    }

    .ant-transfer-list {
        border: 1px solid #eee;
    }
}