#vditor {
    border: none;

    .vditor-toolbar {
        padding-left: 0 !important;
        background-color: transparent;
        border-bottom: none;
    }

    .vditor-reset {
        background-color: transparent !important;

        .vditor-ir__marker--heading{
            color: #727cf5;
        }
    }

    // 针对表单元素的光标样式
    pre {
        // 设置光标样式
        caret-color: #727cf5; // 光标颜色
    }
}