// 编辑器样式
.vditor .vditor-reset {
    @apply dark:text-white;
}

/* 文本渐变 */
.text-gradient {
    display: inline-block;
    color: #8f75da;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#8f75da), to(#727cf5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// 头像动画
.avatar-animation {
    animation: 5s linear infinite miniShape;
}

@keyframes miniShape {

    0%,
    to {
        border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
        transform: translateZ(0) rotate(.01deg)
    }

    34% {
        border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotate(.01deg)
    }

    50% {
        transform: translateZ(0) rotate(.01deg)
    }

    67% {
        border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotate(.01deg)
    }
}