.markdown-body {
    pre {
        margin: 15px 0;

        code.hljs {
            border-radius: 10px;
            font-weight: 400;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-black transition-colors;
    }

    h1 {
        @apply text-2xl my-4 pb-3 border-b border-[#eee];

        &::before {
            content: "✨️";
            @apply pr-3;
        }
    }

    h2 {
        @apply relative text-lg my-4 pl-5;

        &::before {
            content: "";
            @apply absolute left-0 top-[50%] -translate-y-1/2 w-2 h-full bg-primary;
        }
    }

    h3 {
        @apply relative text-lg my-3 pl-5;

        &::before {
            content: "#";
            @apply absolute left-0 top-[50%] -translate-y-1/2 text-primary;
        }
    }

    h4,
    h5,
    h6 {
        @apply relative text-lg my-3;
    }

    hr {
        @apply my-5 border-[#eee] transition-colors;
    }

    p code,
    ul code {
        @apply bg-primary text-white rounded-md py-1 px-2 text-sm transition-colors;
    }

    li {
        @apply my-2.5;
    }

    a {
        @apply text-primary
    }

    p {
        @apply leading-9 mb-2;

        img {
            // 图片模糊
            @apply rounded-xl cursor-pointer transition-all;
        }
    }

    strong {
        @apply text-[15px];
    }

    tr,
    th,
    td {
        @apply border p-[10px_20px];
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        position: relative;
        cursor: not-allowed;
    }
}