@import "./markdown.scss";

.bytemd {
    height: calc(100vh - 200px);
    border: none;
    z-index: 99999;
    @apply bg-white dark:bg-boxdark text-black dark:text-white;

    .bytemd-toolbar {
        background-color: transparent;
        @apply dark:border-strokedark;
    }

    .bytemd-preview {
        @apply dark:border-strokedark;
    }

    .bytemd-status{
        @apply dark:border-strokedark;
    }

    .CodeMirror {
        @apply dark:text-white bg-white dark:bg-boxdark;
    }
}